:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel {
  width: 100%;
  overflow: scroll;
}

.carousel ul {
  list-style: none;
  white-space: nowrap;
}

.carousel li {
  display: inline;
  padding: .5rem;
}

.active {
  padding: 10px;
  background: rgba(0, 100, 150, 0.4);
}

.img {
  padding: 10px;
  margin: -10px;
  transition: background 0.2s linear;
}


